body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica", "Arial", "sans";
}
pre {
  white-space: pre-wrap;
}
.debugMessagesPre {
  border: 1px solid rgba(61, 133, 242, 0.584);
  background: rgba(242, 171, 66, 0.495);
  min-width: 100px;
  min-height: 100px;
}
#toolbar {
  top: 0px;
  position: fixed;
  background: red;
  width: 100%;
  z-index: 2;
}
#fullscreen {
  float: left;
  color: white;
  background: rgba(1, 1, 1, 0.2);
  padding: 0.5em;
  min-width: 1em;
  border-radius: 0.2em;
  margin: 1em 0.5em;
}
#file {
  float: left;
  color: white;
  background: rgba(1, 1, 1, 0.2);
  padding: 0.5em;
  min-width: 1em;
  border-radius: 0.2em;
  margin: 1em 0.5em;
  text-align: center;
}
#current {
  float: left;
  color: white;
  background: rgba(1, 1, 1, 0.2);
  padding: 0.5em;
  min-width: 1em;
  border-radius: 0.2em;
  margin: 1em 0em;
}
#logs {
  float: left;
  color: white;
  background: rgba(1, 1, 1, 0.2);
  padding: 0.5em;
  min-width: 1em;
  border-radius: 0.2em;
  margin: 1em 0.5em;
  text-align: center;
}
#sample {
  float: left;
  color: white;
  background: rgba(1, 1, 1, 0.2);
  padding: 0.5em;
  min-width: 1em;
  border-radius: 0.2em;
  margin: 1em 0em;
  text-align: center;
}
#current-folder {
  float: left;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  min-width: 10em;
  border-radius: 0.2em;
  margin: 1em;
}
#search {
  float: right;
  padding: 0.5em;
  min-width: 10em;
  border-radius: 3em;
  margin: 2em 1em;
  border: none;
  outline: none;
}
#startBtn {
  float: right;
  padding: 0.5em;
  min-width: 5em;
  min-height: 5em;
  margin: 2em 1em;
}
#main-area {
  clear: both;
  margin: 5em 2em;
  z-index: 1;
}
.highlight {
  border: 1px solid red;
}
.item {
  position: relative;
  float: left;
  width: 50em;
  text-align: left;
  background: rgb(255, 255, 255);
}
.item .filename {
  padding: 0.5em;
  margin-left: 2em;
  font-size: 10pt;
}
.item .icon {
  width: 3%;
  float: left;
}
span.path:hover,
img:hover {
  opacity: 0.7;
  cursor: pointer;
}
